@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  /* -------------------- Home -------------------- */
  .home {
    @apply grid grid-rows-[auto_1fr_auto] min-h-screen;
    main {
      @apply flex-1;
    }
  }

  /* -------------------- Divider -------------------- */
  .divider {
    @apply flex items-center w-full max-w-7xl mx-auto mt-44 mb-16;

    .divider-line {
      @apply flex-1 border-b-2 border-[#15CEAA];
    }

    .divider-circle {
      @apply w-5 h-5 rounded-full bg-[#15CEAA];
    }
  }

  /* -------------------- Hero -------------------- */
  .hero {
    @apply h-screen flex flex-col items-center bg-gradient-to-r from-[#3F2BA0] to-[#3556B1] overflow-hidden;

    .hero-title {
      @apply text-7xl font-bold text-white mb-4 relative  text-center max-w-max md:mt-5;

      strong {
        @apply text-[#FFCF45];
      }
    }

    .hero-description {
      @apply text-white relative  text-center mt-4 font-semibold;
    }

    .hero-image {
      @apply h-full w-full object-cover absolute  left-0 opacity-20;
    }
  }

  /* -------------------- Header -------------------- */
  .header {
    @apply flex items-center justify-center w-full min-h-[200px] h-1/2 max-h-[400px] from-[#3F2BA0] to-[#3556B1] bg-gradient-to-r;

    .header-container {
      @apply flex items-center justify-between w-1/2 p-5 bg-white rounded-xl;
    }

    .logo {
      @apply flex items-center justify-center;

      img {
        @apply h-20;
      }

      h1 {
        @apply text-xl font-bold text-[#023358];
      }
    }

    ul {
      @apply flex list-none space-x-8 text-[#023358];
    }

    li {
      @apply text-lg font-semibold hover:text-orange-500 transition;
    }

    .header-actions {
      @apply flex items-center space-x-4;

      .join-button {
        @apply bg-orange-500 text-white px-4 py-2 rounded hover:bg-[#1E0081] transition;
      }

      .login-button {
        @apply text-[#1E0081] px-4 py-2 rounded border border-[#1E0081] hover:bg-[#1E0081] hover:text-white transition duration-300;
      }
    }

    .language-switcher {
      @apply flex items-center space-x-2;

      button {
        @apply text-[#1E0081] px-2 py-2 rounded border border-[#1E0081] hover:bg-[#1E0081] hover:text-white transition duration-300;
      }
    }
  }

  /* -------------------- Header Mobile -------------------- */
  .header-mobile {
    @apply flex items-center justify-between p-4 bg-white shadow-md;

    .logo {
      @apply flex items-center;

      img {
        @apply h-16 mr-2;
      }

      h1 {
        @apply text-xl font-bold text-[#1E0081];
      }
    }

    .language-switcher {
      @apply flex items-center space-x-2;

      button {
        @apply text-white px-3 py-1 rounded hover:bg-[#0671c2] transition;
      }
    }

    .mobile-menu {
      @apply absolute top-0 left-0 w-full h-full z-50 bg-[#1E0081] shadow-md flex flex-col items-center justify-start;

      .mobile-header {
        @apply flex items-center justify-between pr-3 bg-white mb-24;
      }

      .mobile-menu-list {
        @apply flex flex-col justify-center items-center list-none p-4 space-y-24 text-white;

        li {
          @apply text-3xl font-semibold hover:text-orange-500 transition;
        }
      }

      .logo {
        @apply flex items-center;

        img {
          @apply h-10 mr-2;
        }

        h1 {
          @apply text-xl font-bold text-[#023358];
        }
      }

      .language-switcher {
        @apply flex items-center justify-center space-x-2 border-t mt-72 border-white p-4;

        button {
          @apply bg-white text-[#1E0081] px-3 py-1 rounded hover:bg-orange-500 hover:text-white transition duration-300;
        }
      }
    }
  }
  .our-features {
    @apply py-10 text-[#1F0084] flex flex-col 
    justify-center items-center;

    /* Section title */
    h2 {
      @apply text-4xl font-bold text-end  mb-12;
    }
    .features-list {
      @apply flex gap-10 items-center;
      .feature-image-5 {
        @apply w-[47%] flex justify-center items-center; /* image column */
      }
    }

    /* Individual feature item */
    .feature {
      @apply flex items-start mb-12;

      img {
        @apply w-16 h-16 mb-4;
      }

      /* Text content next to icon */
      .feature-text {
        @apply flex flex-col ml-6;

        h3 {
          @apply text-2xl  font-semibold mb-2;
        }

        p {
          @apply text-gray-600 font-medium;
        }
      }
    }
  }
  .our-features .features-Arabic {
    @apply flex-row-reverse  text-end;
    .feature-text {
      @apply ml-0 mr-6;
    }
  }
  /*-------------------- Our Partners -------------------- */

  .our-partners {
    @apply relative h-[600px]  items-center  flex flex-col sm:flex-row  bg-gray-50;
    .lanyard-wrapper {
      @apply relative  bg-transparent z-50 w-full  h-full scale-100;
    }
    .partners-image {
      @apply w-full h-full object-contain m-10 overflow-hidden;
    }
  }

  /*--------------------- subscribation -------------------- */
  .subscribation {
    @apply flex flex-col bg-white  items-center my-5;
    .subscription-title {
      @apply h-auto  justify-center items-center mt-16 text-4xl font-bold text-[#1F0084] text-start;
    }
    .subscription-message {
      @apply h-auto  justify-center items-center mt-10 text-lg font-medium text-gray-600 text-start;
    }
    .subscription-cards-container {
      @apply flex justify-center items-center w-full space-x-10;
    }
    .subscription-plan-cards {
      @apply flex flex-col mt-10  shadow-xl  h-1/2 w-2/12 rounded-xl;
      .subscription-plan-divider {
        @apply border-b-2 w-full border-black border-dashed;
      }
      .subscription-plan-cards-title {
        @apply flex text-4xl p-4 items-center text-start text-white mt-5  bg-gradient-to-r from-[#FF5545] to-[#1E0081]  rounded-lg mx-3 h-1/6;
      }
      .subscription-plan-cards-message {
        @apply text-black my-5 px-3;
        h4 {
          @apply text-2xl font-bold mb-2;
        }
        p {
          @apply text-lg font-medium;
        }
      }
      .subscription-plan-cards-price {
        @apply flex flex-col space-y-2 p-3;
        .price-now {
          @apply text-3xl font-bold text-[#1F0084];
        }
        .price-before {
          @apply flex text-xl  justify-between font-medium text-black;
          span {
            @apply line-through;
            text-decoration-color: #ff5545;
          }
        }
      }
    }
  }
  .subscribation-Arabic {
    .subscription-title {
      @apply text-end;
    }
    .subscription-message {
      @apply text-end;
    }
    .subscription-plan-cards {
      @apply text-end;
      .subscription-plan-cards-title {
        @apply justify-end text-end;
      }
      .subscription-plan-cards-message {
        @apply text-end;
      }
    }
    .subscription-plan-cards-price {
      @apply text-end;
    }
  }

  /*--------------------- Stores -------------------- */
  .stores-page {
    @apply flex flex-col items-center mt-8;
    .stores-container {
      @apply grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-8;
    }
    .stores-title {
      @apply text-4xl font-bold text-[#1F0084] mb-8;
    }
    .store-card {
      @apply flex flex-col bg-white shadow-lg rounded-lg overflow-hidden w-80;
      .offer-badge {
        @apply flex w-full justify-center items-center rounded-t-lg bg-red-500 text-white font-bold;
        button {
          @apply bg-red-500 w-full h-full text-white font-bold hover:bg-blue-400 transition duration-300 rounded-t-lg py-3;
        }
      }
      .store-card-image {
        @apply relative;
        img {
          @apply w-full h-full object-cover  rounded;
        }
        .store-card-image-divider {
          @apply top-[92%] left-0 absolute flex  w-full;
          .image-divider {
            @apply flex gap-2 mt-2;
            .dots-container {
              @apply flex gap-2 mt-2;
              div {
                @apply bg-white rounded-full w-4 h-4;
              }
            }
          }
        }
      }
      .store-card-reactions {
        @apply flex justify-evenly items-center px-4 py-2 my-5;
      }
      .store-card-store-name {
        @apply text-xl font-bold text-[#1F0084] text-center mb-4 px-4;
      }
      .store-card-store-description {
        @apply text-gray-600 text-center px-4;
      }
    }
  }
  /*--------------------- Login  -------------------- */

  .login-page {
    @apply flex flex-col h-screen items-center bg-gray-300;
    .login-container {
      @apply flex flex-col bg-white shadow-md rounded-lg overflow-hidden w-96 p-8 mt-36;
      h2 {
        @apply text-3xl font-bold text-[#1F0084] mb-6 text-center;
      }

      form {
        @apply flex flex-col;
        label {
          @apply text-sm font-medium mb-2 text-gray-500;
        }
        input {
          @apply border border-gray-300 rounded  px-3 py-2 mb-4 focus:outline-none focus:ring-2 focus:ring-[#1F0084];
        }
        .error {
          @apply text-red-500 text-sm mb-4;
        }
        button {
          @apply bg-[#1F0084] text-white px-4 py-2 rounded hover:bg-[#FF5545] transition duration-300;
        }
      }

      .forgot-password {
        @apply mt-4  text-center text-sm text-gray-600;
        a {
          @apply text-[#1F0084] font-semibold hover:underline;
        }
      }
      .go-back {
        @apply text-center text-gray-600 mt-12;
        a {
          @apply text-[#1F0084] font-semibold hover:underline;
        }
      }
      .signup-link {
        @apply mt-4 text-center text-gray-600;
        a {
          @apply text-[#1F0084] font-semibold hover:underline;
        }
      }
    }
  }
  .login-page-Arabic {
    @apply text-end;
    .login-container {
      @apply text-end;

      form {
        @apply text-end;
        label {
          @apply text-end;
        }
        input {
          @apply text-end;
        }
        .error {
          @apply text-end;
        }
        placeholder {
          @apply text-end;
        }
      }
    }
  }
  .login-page-Arabic input::placeholder {
    text-align: right;
  }
  /*------------------ about us  --------------------*/
  .about-us-page {
    @apply flex flex-col min-h-screen;
    .about-us-container {
      @apply flex flex-col bg-white shadow-md rounded-lg overflow-hidden w-3/4 p-8 mt-16 mb-16 self-center;
      h1 {
        @apply text-4xl font-bold text-[#1F0084] mb-6;
      }
      h2 {
        @apply text-2xl font-bold text-[#1F0084] mb-4 mt-6;
      }
      p {
        @apply text-gray-600 font-medium mb-4;
      }
    }
  }
  .about-us-page-Arabic {
    @apply text-end;
    .about-us-container {
      @apply text-end;
      h1 {
        @apply text-end;
      }
      h2 {
        @apply text-end;
      }
      p {
        @apply text-end;
      }
    }
  }
  /*------------------ terms of service --------------------*/
  .terms-of-service-page {
    @apply flex flex-col min-h-screen;
    .terms-of-service-container {
      @apply flex flex-col bg-white shadow-md rounded-lg overflow-hidden w-3/4 p-8 mt-16 mb-16 self-center;
      h1 {
        @apply text-4xl font-bold text-[#1F0084] mb-6;
      }
      h2 {
        @apply text-2xl font-bold text-[#1F0084] mb-4 mt-6;
      }
      p {
        @apply text-gray-600 font-medium mb-4;
      }
    }
  }
  .terms-of-service-page-Arabic {
    @apply text-end;
    .terms-of-service-container {
      @apply text-end;
      h1 {
        @apply text-end;
      }
      h2 {
        @apply text-end;
      }
      p {
        @apply text-end;
      }
    }
  }
  /*------------------ FAQ --------------------*/
  .faq-page {
    @apply flex flex-col min-h-screen;
    .faq-container {
      @apply flex flex-col bg-white shadow-md rounded-lg overflow-hidden w-3/4 p-8 mt-16 mb-16 self-center;
      h1 {
        @apply text-4xl font-bold text-[#1F0084] mb-6;
      }
      h2 {
        @apply text-2xl font-bold text-[#1F0084] mb-4 mt-6;
      }
      p {
        @apply text-gray-600 font-bold mb-4;
      }
    }
  }
  /*------------------ register screen --------------------*/
  .register-screen {
    @apply flex flex-col h-full items-center bg-gray-300 overflow-y-auto;
    .register-container {
      @apply flex flex-col bg-white shadow-md rounded-lg overflow-hidden w-96 p-8 mt-16;
      h2 {
        @apply text-3xl font-bold text-[#1F0084] mb-6 text-center;
      }

      form {
        @apply flex flex-col;
        label {
          @apply text-sm font-medium mb-2 text-gray-500;
        }
        input {
          @apply border border-gray-300 rounded  px-3 py-2 mb-4 focus:outline-none focus:ring-2 focus:ring-[#1F0084];
        }
        .error {
          @apply text-red-500 text-sm mb-4;
        }
        button {
          @apply bg-[#1F0084] text-white px-4 py-2 rounded hover:bg-[#FF5545] transition duration-300;
        }
      }

      .signup-link {
        @apply mt-4 text-center text-sm text-gray-600;
        a {
          @apply text-[#1F0084] font-semibold hover:underline;
        }
      }
      .go-back {
        @apply text-center text-gray-600 mt-12;
        a {
          @apply text-[#1F0084] font-semibold hover:underline;
        }
      }
    }
  }
  /*---------------------------auth-screen----------------------------*/
  .auth-screen {
    @apply flex flex-col h-screen justify-center items-center  bg-gray-100;
    h2 {
      @apply text-lg text-gray-500 font-medium  mb-6 text-center;
    }
    form {
      @apply flex flex-col  space-y-10;

      div {
        @apply flex space-x-10;
        input {
          @apply bg-transparent w-12 h-12 text-center text-2xl border-b border-black  focus:outline-none focus:ring-2 focus:ring-[#1F0084];
        }
      }
      button {
        @apply bg-[#1F0084] text-white px-12  py-2 rounded hover:bg-[#FF5545] transition duration-300 self-center disabled:opacity-50 disabled:cursor-not-allowed disabled:hover:bg-[#1F0084];
      }
    }
    .resend-code {
      @apply mt-6 text-center text-sm text-gray-600;
      button {
        @apply text-[#1F0084] font-semibold hover:underline;
      }
    }
  }
  .auth-screen-Arabic {
    @apply text-end;
    h2 {
      @apply text-end;
    }
    form {
      @apply text-end;
      div {
        @apply flex space-x-10 justify-end;
        input {
          @apply text-end;
        }
      }
    }
  }
  .auth-screen input::placeholder {
    text-align: center;
    color: grey-400;
  }
  /*---------------------------Dashboard----------------------------*/
  .dashboard-page {
    @apply grid grid-cols-[15rem_1fr] bg-[#F0F2F5] min-h-screen;
    .dashboard-sidebar {
      @apply col-start-1 row-start-1 row-span-2 bg-gradient-to-b
     from-[#060607] to-[#51586b] text-white flex flex-col m-1 rounded-2xl shadow-lg;
      .dashboard-sidebar-logo-container {
        @apply flex flex-col items-center justify-center p-4 border-b border-white mb-10;
        img {
          @apply h-32 w-32 mr-2;
        }
      }
      .dashboard-sidebar-links {
        @apply flex flex-col items-start p-4 space-y-8 flex-1;
        a {
          @apply font-medium text-sm hover:text-[#37b6f1] transition flex items-center space-x-3;

          &.active {
            @apply text-[#37b6f1] bg-white bg-opacity-10 rounded-lg px-3 py-2;
          }
        }

        nav {
          @apply flex flex-col h-full;
          ul {
            @apply list-none w-full flex flex-col flex-1; /* Add flex-1 */
            li {
              @apply mb-10 font-medium;
            }

            li:last-child {
              @apply mt-auto mb-24;
            }
          }
        }
      }
    }
    .dashboard-header-content {
      @apply flex items-center justify-between p-4;
      .user-avatar {
        @apply flex mr-20 h-10  rounded-full w-auto items-center space-x-3 cursor-pointer p-1;
      }
    }

    .analytics-page {
      @apply flex flex-col  h-screen p-8;

      .top-cards {
        @apply flex justify-evenly gap-6 mt-7 w-full;
      }

      h2 {
        @apply text-4xl font-bold text-[#1F0084] mb-6;
      }
      .card-info-card {
        @apply flex items-center w-3/6 bg-white shadow-md rounded-lg p-6 mb-6 relative overflow-visible;
        .icon {
          @apply flex justify-center items-center rounded-lg 
         absolute h-16 w-16 left-3 -top-3 bg-red-400 text-4xl text-white shadow-lg;
        }
      }

      .details {
        @apply flex flex-col text-end ml-auto;
        h3 {
          @apply text-lg font-medium text-gray-500;
        }
        p {
          @apply text-3xl font-bold text-[#1F0084];
        }
      }
      .cards-container {
        @apply flex gap-6 mt-14 w-full  overflow-y-hidden overflow-x-auto;
      }
      .bigCard {
        @apply bg-white shadow-md rounded-lg  flex-1 h-full overflow-y-auto;

        /* Hide scrollbar for Firefox */
        scrollbar-width: none;

        h4 {
          @apply text-2xl font-bold text-[#1F0084] mb-4  p-5 sticky top-0 bg-white;
        }
      }
      /* Hide scrollbar for Webkit browsers (Chrome, Safari, Edge) */
      .bigCard::-webkit-scrollbar {
        width: 0px;
        background: transparent;
      }

      .bigCard::-webkit-scrollbar-thumb {
        background: transparent;
      }

      .bigCard::-webkit-scrollbar-track {
        background: transparent;
      }
      .smallCard {
        @apply bg-white shadow-md rounded-lg  h-full mb-6 w-1/3 overflow-y-auto;

        h4 {
          @apply text-2xl font-bold text-[#1F0084] mb-4  p-5 sticky top-0 bg-white;
        }
      }
      .smallCard::-webkit-scrollbar {
        width: 2px;
        background: transparent;
      }
      .coupon-details-items {
        @apply flex  justify-between w-full mb-4 border-b p-2;
        .small-logo {
          @apply flex justify-center items-center space-x-3;
          img {
            @apply w-16 h-16  ml-4;
          }
        }
        .discount-info {
          span {
            @apply text-lg font-bold text-[#1F0084];
          }
          p {
            @apply text-gray-600 font-medium;
          }
        }
      }
    }
    .pie-chart-with-title {
      @apply text-left mb-6 p-5;

      .pie-chart-title {
        @apply text-xl font-bold text-[#1F0084] mb-4;
      }
    }

    /* .table-container {
      @apply bg-white shadow-md rounded-lg p-6 flex  mt-12 gap-x-5;
    } */
    .active-coupons {
      @apply flex flex-col  h-screen p-8 overflow-y-auto;
      h3 {
        @apply text-2xl font-bold text-[#1F0084] mb-4  p-5;
      }

      .stores-container {
        @apply grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-8;
      }
    }
    .filter {
      @apply flex items-center justify-between mb-4;
      .filter-title {
        @apply text-2xl font-bold text-[#1F0084];
      }
      .filter-options {
        @apply flex items-center space-x-4;

        input {
          @apply border border-gray-300 rounded  px-3 py-2  focus:outline-none focus:ring-2 focus:ring-[#1F0084];
        }
        .search-input-container {
          @apply flex items-center space-x-2;
          button {
            @apply bg-[#1F0084] text-white px-4 py-2 rounded hover:bg-[#FF5545] transition duration-300;
          }
        }
      }
    }
  }
  /*------------------ Get Offer page --------------------*/
  .get-offer-page {
    /* Overlay styles */
    @apply fixed top-0 left-0 w-full h-screen bg-black bg-opacity-50 backdrop-blur-sm z-[1000] transition-all duration-500;
  }

  .get-offer-container {
    /* Modal styles */
    @apply fixed top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2 
         bg-white rounded-2xl shadow-2xl p-12 transition-all duration-500 
         max-w-2xl w-11/12 max-h-[90vh] overflow-y-auto;

    .offer-share-options {
      @apply flex   mt-6;
      ul {
        @apply flex flex-col space-y-4;
        li {
          @apply flex  space-x-5 text-[#1F0084] font-semibold cursor-pointer;
        }
      }
    }
    .close-icon {
      @apply absolute top-4 right-4 text-gray-500 hover:text-gray-700 cursor-pointer;
    }

    h1 {
      @apply text-2xl font-bold text-[#1F0084] mb-6 text-center;
    }
    h2 {
      @apply text-2xl font-bold text-[#1F0084] mb-4 mt-6;
    }
    p {
      @apply text-gray-600 font-medium mb-4;
    }
    .offer-info {
      @apply flex   mb-6 justify-between items-center;
    }
  }
  /*------------------ data Grid page --------------------*/
  .data-grid-page {
    @apply flex flex-col min-h-screen;
    .data-grid-container {
      @apply flex flex-col bg-white shadow-md rounded-lg overflow-hidden 
      w-3/4 p-8 mt-16 mb-16 self-center;
      h1 {
        @apply text-4xl font-bold text-[#1F0084] mb-6;
      }
      h2 {
        @apply text-2xl font-bold text-[#1F0084] mb-4 mt-6;
      }
      p {
        @apply text-gray-600 font-medium mb-4;
      }
    }
  }
  /*------------------ General Button --------------------*/
  .btn {
    @apply rounded-lg font-semibold shadow transition-colors;
  }

  .btn-small {
    @apply text-xs py-1 px-2 uppercase font-semibold text-center;
  }
  .btn-medium {
    @apply text-sm py-3 px-4 font-medium;
  }
  .btn-large {
    @apply text-base py-3 px-6 font-medium;
  }

  .btn-primary {
    @apply text-white bg-[#1F0084] hover:bg-[#37b6f1];
  }
  .btn-secondary {
    @apply text-[#51586b] bg-[#F3F4F6] border border-[#E5E7EB] hover:bg-[#b8bdc7];
  }
  .btn-danger {
    @apply text-white bg-red-700 hover:bg-red-800;
  }

  /*------------------settings page--------------------*/
  .settings-page {
    @apply flex flex-col min-h-screen;
    .settings-container {
      @apply flex flex-col bg-white shadow-md rounded-lg overflow-hidden w-3/4 p-8 mt-16 mb-16 self-center;
      h1 {
        @apply text-4xl font-bold text-[#1F0084] mb-6;
      }
      h2 {
        @apply text-2xl font-bold text-[#1F0084] mb-4 mt-6;
      }
      p {
        @apply text-gray-600 font-medium mb-4;
      }
      form {
        @apply flex flex-col;
        label {
          @apply text-sm font-medium mb-2 text-gray-500;
        }
        input {
          @apply border border-gray-300 rounded w-2/3  px-3 py-2 mb-4 focus:outline-none focus:ring-2 focus:ring-[#1F0084];
        }
        .error {
          @apply text-red-500 text-sm mb-4;
        }
        button {
          @apply bg-[#1F0084] text-white px-4 py-2 rounded hover:bg-[#FF5545] transition duration-300 w-2/12;
        }
      }
    }
  }

  /* ------------------------Footer-------------------------------------- */

  .footer {
    @apply flex  bg-gradient-to-r from-[#3F2BA0] to-[#3556B1] text-white py-4 justify-center items-center space-x-16;
    .footer-content {
      @apply flex flex-col space-y-4 mx-5;
      img {
        @apply h-20 w-20;
      }
    }
    h2 {
      @apply text-2xl font-bold m-4;
    }
    p {
      @apply font-semibold hover:text-orange-500 transition duration-300;
    }
    .footer-socials {
      @apply flex space-x-6;
    }
  }
  .footer-Arabic {
    @apply flex-row-reverse text-end;
  }
}
